
### Linux ###
*~

.fuse_hidden*

.directory
.vscode
.*swp

# Subdirectories create during build process
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/CMakeFiles

include/version.h

# Linux trash folder which might appear on any partition or disk
.Trash-*

.nfs*

*.o
*.x
*.xyz
*.cube
*.cub
*.log
*.wfn
*.dat


garbage*
input*
